@charset "utf-8";
/* CSS Document */
frame{margin:0}

.smallitallic {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	color: #a6a6a6;
	text-decoration: none;
	font-variant: normal;
}
.copyright {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #BEBEBE;
	text-decoration: none;
}
.headding1 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #000062;
	text-decoration: none;
}
.text11 {
	font-family: Arial, Tahoma, Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border-top:1px solid #000;
}
.text12 {
	font-family: Arial, Tahoma, Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border-bottom:1px solid #000;
}
.text11red {
	font-family: Arial, Tahoma, Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	}
.career_button {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000062;
	text-decoration: none;
}
.text10 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.link_green {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.button_white {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	cursor:pointer;
}




	
.slider{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	cursor: pointer;
	}
.sub_button {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #3C4F3D;
	text-decoration: none;
}

.heading_new {
	font-family: Tahoma, Verdana, Arial;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #000045;
	text-decoration: none;
	font-variant: normal;
}

	
.milestone{
font-family:Arial, Helvetica, sans-serif;
font:10px;
color:#000000;
text-decoration:none;

}
.text10green {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #667966;
	text-decoration: underline;
	padding-right:5px;
	cursor:pointer;
}
.text10greenprog {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #667966;
	text-decoration: underline;
	padding:0px 0px 9px 0px;
	cursor:pointer;
}
.sub_link {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #3C4F3D;
	text-decoration: none;
}
.sub_link :hover {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: underline;
}
.button
	{
/*	color:#FFFFFF;
	background-color:#425D42;
	border:1px solid #999999;
	font-weight:bold;
	width:100px;*/
	background-color:#016531;
color:#fff;
font-size:13px;
font-weight:bold;
border:1px solid #bf4544;
margin:3px 5px;
padding:2px 10px;
text-transform:capitalize;
cursor:pointer;
	}
	.text10red {
	font-family: Tahoma, Verdana, Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
	cursor:pointer;
}
.text10red1 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #A12525;
	text-decoration: none;
}

.text9red {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
}
.gain_style
{
	float:left;
	color:#cc0000;
	font-weight:bold;
	padding:10px;
	margin:0px; 
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:100px;
	border:1px solid #000;
}
.gain_parts
{
	float:left;
	padding:0px;
	margin:10px;
}